.llds-page {
  margin: 0;

  &__main-content {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    max-width: 80rem;
  }

  &__main {
    flex: 75%;
  }

  &__aside {
    flex: 25%;
  }
}