:root {
  --llds-link-padding-normal: .5rem;
  --llds-link-padding-small: .25rem;
  --llds-link-padding-large: 1rem;

  --llds-link-padding-default: var(--llds-link-padding-normal);
}

.llds-link {
  color: var(--llds-color-foreground);
  display: inline-block;
  padding: var(--llds-link-padding-default);
  text-decoration: none;
  text-underline-offset: 0.1em;
  outline-offset: -.1rem;

  &:hover {
    text-decoration: underline;
  }

  &--padding-small {
    padding: var(--llds-link-padding-small);

  }

  &--padding-normal {
    padding: var(--llds-link-padding-normal);
  }

  &--padding-large {
    padding: var(--llds-link-padding-large);
  }

  &--expand-to-fit {
    display: block;
  }

  &--primary-cta {
    background: var(--llds-color-cta-primary-bg);
    color: var(--llds-color-cta-primary-fg);
    display: block;
    border-radius: .5rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
  }
}