.llds-menu {

  &--collapsible {
    position: relative;
  }

  &__toggle {
    padding: 0;
    width: 2.6rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform .1s linear;
    outline-offset: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .4rem .4rem 0 auto;

    &:hover, &:focus-visible {
      transform: scale(1.1);
    }

    &[aria-expanded] + .llds-menu__list {
      background: var(--llds-color-background);
      box-shadow: -3px 3px 5px rgba(0,0,0,.2);
      position: absolute;
      top: 2.4rem;
      right: -1rem;
      background: inherit;
      min-width: clamp(20rem, 100%, 30rem);
    }

    &[aria-expanded="false"] + .llds-menu__list {
      visibility: hidden;
      transform: translateX(100%);
    }

    &[aria-expanded="true"] + .llds-menu__list {
      visibility: visible;
      transform: translateX(0);
    }
  }

  &__toggle-label {
    opacity: 0;
    position: absolute;
  }

  &__list {
    transition: transform .1s linear,visibility .1s linear;
    width: 100%;
    margin-left: auto;
    text-align: left;
    border-radius: 0.25rem;
  }

  &__link {
    display: block;
    font-weight: bold;
    padding: 1rem;
  }
}