:root {
  --llds-text-weight-normal: 400;
  --llds-text-weight-semibold: 600;
  --llds-text-weight-bold: 700;

  --llds-text-density-loose: 1.75;
  --llds-text-density-normal: 1.5;
  --llds-text-density-tight: 1.25;

  --llds-text-weight-default: var(--llds-text-weight-normal);
  --llds-text-density-default: var(--llds-text-density-normal);
}

.text {
  font-weight: var(--llds-text-weight-normal);
  line-height: var(--llds-text-density-normal);

  &--weight {
    &-normal {
      font-weight: var(--llds-text-weight-normal);
    }

    &-semibold {
      font-weight: var(--llds-text-weight-semibold);
    }

    &-bold {
      font-weight: var(--llds-text-weight-bold);
    }
  }

  &--density {
    &-loose {
      line-height: var(--llds-text-density-loose);
    }

    &-normal {
      line-height: var(--llds-text-density-normal);
    }

    &-tight {
      line-height: var(--llds-text-density-tight);
    }
  }
}