:root {
  --llds-layout-width-xnarrow: 40rem;
  --llds-layout-width-narrow: 50rem;
  --llds-layout-width-normal: 60rem;
  --llds-layout-width-wide: 70rem;
  --llds-layout-width-xwide: 80rem;

  --llds-layout-padding-xsmall: 1rem;
  --llds-layout-padding-small: 1.5rem;
  --llds-layout-padding-normal: 2rem;
  --llds-layout-padding-large: 3rem;
  --llds-layout-padding-xlarge: 4rem;

  --llds-layout-width-default: var(--llds-layout-width-normal);
  --llds-layout-padding-default: var(--llds-layout-padding-normal);
}

.llds-layout {
  background: var(--llds-color-background);
  padding: var(--llds-layout-padding-default) 1rem;

  &--padding {
    &-xsmall {
      padding: var(--llds-layout-padding-xsmall) 1rem;
    }

    &-small {
      padding: var(--llds-layout-padding-small) 1rem;
    }

    &-normal {
      padding: var(--llds-layout-padding-normal) 1rem;
    }

    &-large {
      padding: var(--llds-layout-padding-large) 1rem;
    }

    &-xlarge {
      padding: var(--llds-layout-padding-xlarge) 1rem;
    }    
  }

  &__content {
    margin: auto;

    &--width {
      &-xnarrow {
        padding: 0 2rem;
        max-width: var(--llds-layout-width-xnarrow);
      }

      &-narrow {
        padding: 0 2rem;
        max-width: var(--llds-layout-width-narrow);
      }

      &-normal {
        padding: 0 2rem;
        max-width: var(--llds-layout-width-normal);
      }

      &-wide {
        padding: 0 2rem;
        max-width: var(--llds-layout-width-wide);
      }

      &-xwide {
        padding: 0 2rem;
        max-width: var(--llds-layout-width-xwide);
      }
    }
  }
}