:root {
  --llds-color-foreground: #313131FF;
  --llds-color-foreground-90: #313131E6;
  --llds-color-foreground-80: #313131CC;
  --llds-color-foreground-70: #313131B3;
  --llds-color-foreground-60: #31313199;
  --llds-color-foreground-50: #31313180;
  --llds-color-foreground-40: #31313166;
  --llds-color-foreground-30: #3131314D;
  --llds-color-foreground-20: #31313133;
  --llds-color-foreground-10: #3131311A;

  --llds-color-background: #FFFFFFFF;

  --llds-color-primary: #3700B3FF;
  --llds-color-primary-90: #3700B3E6;
  --llds-color-primary-80: #3700B3CC;
  --llds-color-primary-70: #3700B3B3;
  --llds-color-primary-60: #3700B399;
  --llds-color-primary-50: #3700B380;
  --llds-color-primary-40: #3700B366;
  --llds-color-primary-30: #3700B34D;
  --llds-color-primary-20: #3700B333;
  --llds-color-primary-10: #3700B31A;

  --llds-color-accent: #018786FF;
  --llds-color-accent-90: #018786E6;
  --llds-color-accent-80: #018786CC;
  --llds-color-accent-70: #018786B3;
  --llds-color-accent-60: #01878699;
  --llds-color-accent-50: #01878680;
  --llds-color-accent-40: #01878666;
  --llds-color-accent-30: #0187864D;
  --llds-color-accent-20: #01878633;
  --llds-color-accent-10: #0187861A;

  --llds-color-error: #B00020FF;
  --llds-color-error-90: #B00020E6;
  --llds-color-error-80: #B00020CC;
  --llds-color-error-70: #B00020B3;
  --llds-color-error-60: #B0002099;
  --llds-color-error-50: #B0002080;
  --llds-color-error-40: #B0002066;
  --llds-color-error-30: #B000204D;
  --llds-color-error-20: #B0002033;
  --llds-color-error-10: #B000201A;

  --llds-color-cta-primary-bg: #ff4c4c;
  --llds-color-cta-primary-fg: #ffffff;

  --llds-color-cta-secondary-bg: #008080;
  --llds-color-cta-secondary-fg: #ffffff;
}