.llds-social-bar {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  &__primary {
    margin-inline-end: auto;
    display: flex;
    gap: 1rem;
  }

  &__secondary {
    margin-inline-start: auto;
    display: flex;
    gap: 1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  &__icon {
    width: 2rem;
  }
}