.llds-block {
  width: 100%;

  &--left-aligned {
    margin-right: auto;
  }

  &--center-aligned {
    margin-left: auto;
    margin-right: auto;
  }

  &--right-aligned {
    margin-left: auto;
  }
}
